<a href="https://colab.research.google.com/github/roitraining/PythonML/blob/master/Ch03-Pandas/03-04-DataFrame-Methods-and-Attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame Methods and Attributes

This is a collection of useful DataFrame methods found useful in Machine Learning. 

To see all of the available methods, go to [Method](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) and search about 10 percent down the page.

Execute the cell below to set up this notebook.

In [0]:
import numpy as np
import pandas as pd
df = pd.read_csv("./iris-data-column.csv", header=0)
df

## Attributes
Attributes can not be modified.

Execute the frame below to see some of the attributes of a DataFrame.

In [0]:
df.head(n=2)

* The default for n is 10.

In [0]:
df.tail(n=2)

* The default is 10

In [0]:
df.shape

* The return is a tuple showing the rows and columns of the data
* You can access just the number of columns with `df.shape[1]`

In [0]:
df.T

* This transposes the rows and columns

In [0]:
df.values

* This returns a numpy arrayâ€”see more in Converting to Numpy Notebook

In [0]:
df.as_matrix()

* The above is the same as `df.values`.
* With `.as_matrix` you can specify columns to transfer

In [0]:
df.as_matrix(['Petal-Length', 'Sepal-Length'])

In [0]:
help(df.mean)

In [0]:
df.mean(axis=0, numeric_only=True)

This seems a little counter intuitive
* axis=0 does down the column - each row element is done
* axix=1 does across the column - each row value is done

In [0]:
df.std(axis=0)

This seems a little counter intuitive
* axis=0 does down the column - each row element is done
* axix=1 does across the column - each row value is done

In [0]:
df.sum(axis=0, numeric_only=True)

In [0]:
df.sum(axis=1, numeric_only=True)

* `.max, .min` all work the same way as `.sum`

In [0]:
df.describe()

## Methods

In [0]:
help(df.applymap)

In [0]:
ab = df.loc[:,['Sepal-Length']].applymap(lambda x: x + 10)
ab

* The `df.loc[:,['Sepal-Length']]` creates a new DataFrame
    - THIS RETURNS A NEW DATAFRAME
    - The [ ] around the is required - without the [ ] a Series is create and `.applymap` is define only for DataFrame

In [0]:
help(df['Class'].map)

In [0]:
df['Class'].map

* This `.map` method works on Series. It is repeated here because it is so often used in Machine Learning.

In [0]:
aq = df['Class'].map({'Iris-setosa':0,\
                               'Iris-versicolor':1,\
                               'Iris-virginica':2})
aq

In [0]:
df['Class'] = aq
df

# End of notebook