<a href="https://colab.research.google.com/github/roitraining/PythonML/blob/master/Ch03-Pandas/03-05-Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math on a DataFrame

Almost all math is done using numpy arrays and numpy matrices.  In fact, in this course all work is done using numpy array. They are easier to understand and better supported in numpy.

Execute the cell below to set up this notebook

In [0]:
import numpy as np
import pandas as pd
df = pd.read_csv('./math.csv', header=None)
df

In [0]:
df / 5

* For a single value, the value is applied to each element of the DataFrame 
* This is true for `+`, `-`, `*`, `/`, and `**`

In [0]:
a = pd.Series([1,2,3,4,5])
a

In [0]:
df / a

* The Series, a, is applied to each row of the DataFrame, df, which the element of the row and the Series matched
* This is true for `+`, `-`, `*`, `/`, and `**`
* The expression is not communtative

In [0]:
df2 = pd.read_csv('./math.csv', header=None)
df2

In [0]:
df / df2

* The 2 DataFrame must have the same shape
* Corresponding cells are uses for the parameter for theh mat

In [0]:
df.dot(a)

* The result is a single Series with one element or each row in the DataFrame
* The process
    - For row 0, the corresponding elements of the Series are multiplied together. Then all the elements of the row are summed and placed as the first element of the result Series
    - The same procedure is used for all of the rows in the DataFrame

# End of notebook