<a href="https://colab.research.google.com/github/roitraining/PythonML/blob/master/Ch03-Pandas/03-02-Dataframe-Access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame Access

Execute the next frame.

This will set up this notebook.

In [1]:
import pandas as pd
#from IPython import display

data = pd.DataFrame({'team':['Leicester', 'Manchester City',
'Arsenal'], 'player':['Vardy', 'Aguero', 'Sanchez'],
'goals':[24,22,19]})
print(data)

display(data)

              team   player  goals
0        Leicester    Vardy     24
1  Manchester City   Aguero     22
2          Arsenal  Sanchez     19

              team   player  goals
0        Leicester    Vardy     24
1  Manchester City   Aguero     22
2          Arsenal  Sanchez     19

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("./iris-data-index-column.csv", index_col=0, header=0)
df

## Methods of Data Access

* loc
    - Uses labels for data access
* iloc
    - Uses numerical indexes for data access
* Series
    - Uses Series reference to access a column
* Boolean filter

## Using loc
Execute the next set of cells to see how to use loc to access data.

In [ ]:
df.loc[:,'Petal_Length']

In [ ]:
df.loc[:, 'Sepal_Length':'Petal_Length']

* Notice that the `:` is inclusive

In [ ]:
df.loc[:,['Petal_Length', 'Sepal_Length']]

* Notice that the order of the columns can be changed

In [ ]:
df.loc['d1', ['Petal_Length', 'Sepal_Length']]

In [ ]:
df.loc['d1':'a1', ['Petal_Length', 'Sepal_Length']]

## Using iloc
Execute the next set of cells to see how to use iloc to access data.

In [ ]:
df.iloc[:, 2]

In [ ]:
df.iloc[:, 2:4]

* Notice that the range is not inclusive which is different from loc

In [ ]:
df.iloc[3, 2:4]

## Using Series
Execute the next set of cells to see how to use Series to access data.

In [ ]:
df.Petal_Length

In [ ]:
df.columns

* Notice that columns is a Series in a DataFrame

In [ ]:
df.index

* Notice that index is a Series in a DataFrame

## Boolean Column Selection

In [ ]:
df.loc[df['Class'] == 'Iris-setosa']

In [ ]:
df.loc[df['Class'] == 'Iris-setosa', 'Sepal_Length']

In [ ]:
df.loc[(df['Class'] == 'Iris-setosa') | (df['Class'] == 'Iris-virginica')]

In [ ]:
df.loc[(df['Class'] == 'Iris-setosa') | (df['Class'] == 'Iris-virginica'), 'Sepal_Length']

# End of notebook